@charset "utf-8";
/* CSS Document */

h1,h2,h3,h4,h5,h6{font-family:'NotoSansKR', sans-serif}
*{ margin: 0px;padding: 0px;list-style: none;text-decoration: none;color: black;}


/* header */
.header {height: 150px;text-align: center;box-sizing: border-box;}
.header_top{font: 15px bold;float: right;font-family: 'NotoSansKR';}
.header_top a{margin-right:30px;margin-left: 25px;color: #999;}
.header_logo h1{font: bold 60px 'NotoSansKR';padding-top: 40px;letter-spacing: 2px;line-height: 95%;}
.header_logo p {font: bold 20px 'NotoSansKR';letter-spacing: 2px;margin-top: -1px;}
.header_gnb ul{margin-top: 40px;float: left;}
.header_gnb ul li{display: inline-block;}
.header_gnb ul li a{display: block;font: bold 20px 'NotoSansKR';margin: 0px 16px;letter-spacing: 1px;transition: 1.5s;padding: 3px 15px 1px 15px;}
.header_gnb ul li:first-child a{background-color: black;color: white;}
.header_gnb ul li a:hover{background-color: black;color: white;}