@charset "utf-8";
/* CSS Document */

h1,h2,h3,h4,h5,h6{font-family:'NotoSansKR', sans-serif}
*{ margin: 0px;padding: 0px;list-style: none;text-decoration: none;color: black;}


/* header */
.header {height: 194px;text-align: center;box-sizing: border-box;}
.header_top{font: 15px bold;float: right;font-family: 'NotoSansKR';}
.header_top a{margin-right:30px;margin-left: 25px;color: #999;}
.header_logo{display: block;margin: 0 auto;width: 174px;height: 125px;}
.header_logo h1{font: bold 60px 'NotoSansKR';padding-top: 40px;letter-spacing: 2px;line-height: 95%;}
.header_logo p {font: bold 20px 'NotoSansKR';letter-spacing: 2px;margin-top: -1px;}
.header_gnb ul{margin-top: 40px;float: left;}
.header_gnb ul li{display: inline-block;}
.header_gnb ul li a{display: block;font: bold 20px 'NotoSansKR';margin: 0px 16px;letter-spacing: 1px;transition: 1.5s;padding: 3px 15px 1px 15px;}
.header_gnb ul li:first-child a{background-color: black;color: white;}
.header_gnb ul li a:hover{background-color: black;color: white;}
.header_gnb{height: 100px;}

/* tit */
.tit{ margin: 50px 0 0 20px;}
.tit h2{font-size: 50px;font-family: 'NotoSansKR';font-weight: bold;color: black;}

/* cont (공통) */
.cont{height: 600px; width: 100%;overflow: hidden;position: relative;}
.part-tit{margin: 20px 0 0 30px;}
.part-tit>h5{font-size: 40px;font-family: 'NotoSansKR';font-weight: bold;color: black;}
.part-gal{height: 400px; width: 1900px;overflow: hidden;margin: auto;}
.img{height: 365px; background-color: rgb(145 110 89);width: calc(25% - 60px); float: left;margin: 40px 0 0 40px;}
/* part1 */
.part1 .part-tit::before{content: '';display: inline-block;width: 110px;height: 20px;background-color: yellow;position: absolute;top: 50px;mix-blend-mode: multiply;}
.part1 .img:nth-child(1){background-image: url(../Img/om-1.PNG);}
.part1 .img:nth-child(2){background-image: url(../Img/om-2.PNG);}
.part1 .img:nth-child(3){background-image: url(../Img/om-3.PNG);}
.part1 .img:nth-child(4){background-image: url(../Img/om-4.PNG);}



/* part2 */
.part2 .part-tit::before{content: '';display: inline-block;width: 100px;height: 20px;background-color: red;position: absolute;top: 50px;mix-blend-mode: multiply;}
.part2 .img:nth-child(1){background-image: url(../Img/bird-1.PNG);}
.part2 .img:nth-child(2){background-image: url(../Img/bird-6.PNG);}
.part2 .img:nth-child(3){background-image: url(../Img/bird-7.PNG);}
.part2 .img:nth-child(4){background-image: url(../Img/bird-4.PNG);}

/* part3 */
.part3 .part-tit::before{content: '';display: inline-block;width: 210px;height: 20px;background-color: skyblue;position: absolute;top: 50px;mix-blend-mode: multiply;}
.part3 .img:nth-child(1){background-image: url(../Img/mouse-1.PNG);}
.part3 .img:nth-child(2){background-image: url(../Img/mouse-2.PNG);}
.part3 .img:nth-child(3){background-image: url(../Img/mouse-3.PNG);}
.part3 .img:nth-child(4){background-image: url(../Img/mouse-4.PNG);}
