@charset "utf-8";
/* CSS Document */

h1,h2,h3,h4,h5,h6{font-family:'NotoSansKR', sans-serif}
*{margin: 0px;padding: 0px;list-style: none;text-decoration: none;color: black;}

/* header */
.header {height: 150px;text-align: center;box-sizing: border-box;border-bottom: 1px solid #999;}
.header_top{font: 10px 'arial';float: right;}
.header_top a{margin-right:10px}
.header_logo h1{font: bold 50px 'arial';padding-top: 14px;letter-spacing: 2px;}
.header_logo p {font: bold 12px 'arial';letter-spacing: 2px;margin-top: -1px;}
.header_gnb ul{margin-top: 40px;float: left;}
.header_gnb ul li{display: inline-block;}
.header_gnb ul li a{display: block;font: bold 18px 'arial';margin: 0px 16px;letter-spacing: 1px;transition: 1.5s;padding: 3px 15px 1px 15px;}
.header_gnb ul li a:hover{background-color: black;color: white;}

/* main */
.content{background:#fff;overflow:hidden}
.main-visual dl{position:absolute;right:20%;top:50%;transform:translateY(-50%);color:#fff}
.main-visual dt{text-align:center;font-size:46px}
.main-visual dt{font-size: 40px;}
.main-visual li{position:relative;}

/* best */
.sec-cont h3 ,.story-tap h3{text-align:center;font-size:35px;padding:80px 0 60px;position: relative;}
.tit{font-size:30px;font-weight:700;font-family:'Roboto', sans-serif}
.best-img{height: 300px;margin-bottom:20px;text-indent:-999999px;font-size:0;color:transparent;background:#ccc no-repeat center / cover;border-radius: 50px;}
.best-tap ul {overflow: hidden;}
.best-tap ul li {width:calc(25% - 25px);float:left;margin-left: 20px;}
.best-tap h3::before{content: '';display: inline-block;width: 230px;height: 2px;background-color: rgb(95, 95, 95);position: absolute;bottom: 50px;}


/* story */
.story-box{height: 300px;margin-bottom: 20px;background:#ccc no-repeat center / cover;}
.story-tap ul{overflow: hidden;}
.story-tap ul li{width: calc(33% - 20px);float: left;margin-left: 20px;}
.story-tap ul li p{position: absolute;}
.story-tap h3::before{content: '';display: inline-block;width: 110px;height: 2px;background-color: rgb(95, 95, 95);position: absolute;bottom: 57px;}

/* Footer - footer의 width는 1200px을 기준으로 한다 */
footer{height:220px;background:#eee;padding:50px 0;text-align:left}
footer>div{width:1200px;margin:0 auto}
.footer-cont{position: relative;}
.footer-logo{position: absolute;display: inline-block;width: 100px;height: 100px;float: left;}
.footer-logo h2{font: 50px bold 'NotoSansKR', sans-serif;color: #999;}
.team{position: absolute;width: 100px;height: 100px;float: right;}


@media only screen and (max-width:1280px) { 

}

@media only screen and (min-width:769px) and (max-width:1280px){ 

}

@media only screen and (max-width:768px){ 

}

@media only screen and (max-width:320px){ 

}









